apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: backend
  labels:
    app: upbit-backend
data:
  DB_HOST: "db-headless.database.svc.cluster.local"
  DB_SLAVE_HOST: "100.88.204.14"
  DB_PORT: "5432"
  DB_NAME: "upbit"
  REDIS_HOST: "redis.database.svc.cluster.local"
  REDIS_PORT: "6379"

  PORT: "3000"
  USE_REAL_DB: "true"

  # 로컬 테스트용
  CORS_ORIGINS: "http://localhost:3000,http://localhost:5173,http://upbit-frontend.frontend.svc.cluster.local,http://upbit.local"

  UPBIT_API_URL: "https://api.upbit.com/v1"
