apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: upbit-frontend-ingress
  namespace: frontend
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    # - host: upbit.local
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: upbit-frontend
                port:
                  number: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: upbit-backend-ingress
  namespace: backend
spec:
  ingressClassName: nginx
  rules:
    # - host: upbit.local
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: upbit-backend
                port:
                  number: 3000
          - path: /ws
            pathType: Prefix
            backend:
              service:
                name: upbit-backend
                port:
                  number: 3000
