name: Upbit Clone CI/CD

# main 브랜치에 푸시할때마다 실행
on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

env:
  BACKEND_IMAGE: skdtmr/upbit-clone-back
  FRONTEND_IMAGE: skdtmr/upbit-clone-front

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # 1. 내 코드 내려받기
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Docker 빌드 도구 설정
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Docker Hub 로그인
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. 백엔드 이미지 빌드 & 푸시
      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend # Dockerfile이 있는 폴더
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.BACKEND_IMAGE }}:latest
            ${{ env.BACKEND_IMAGE }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache,mode=max

      # 5. 프론트엔드 이미지 빌드 & 푸시
      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ env.FRONTEND_IMAGE }}:latest
            ${{ env.FRONTEND_IMAGE }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ env.FRONTEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.FRONTEND_IMAGE }}:buildcache,mode=max
